.right-element {
  margin-left: auto !important;
}

.reset-button {
  color: #ff0000;
  font-weight: 600;
  user-select: none;
}

.reset-button:hover {
  background: #ff0000 !important;
}

.start-button {
  color: #1d8f35;
  font-weight: 600;
  user-select: none;
}

.start-button:hover {
  background: #1d8f35 !important;
}

.control-buttons {
  font-weight: 600;
  user-select: none;
}

.control-buttons:hover {
  background: #5f6ce1 !important;
}

.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #005b41;
  display: flex;
  align-items: center;
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #ae445a;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f39f5a;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  font-size: 16px;
  font-weight: 600;
}
