.menu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background: #2b2a2a;
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0px 20px;
}

.profile-icon {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #ae445a;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #c69749;
  color: #461111;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  font-size: 16px;
  font-weight: 600;
  color: azure;
}

.navbar-title {
  font-size: 18px;
  font-weight: 700;
  color: aliceblue;
  margin-right: auto;
}

.logout-button {
  cursor: pointer;
}
