.container {
  display: flex;
  align-items: center;
  border: 1px solid #47455e;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #1b1b1b;
  transition: background-color 0.3s ease;
}

.container:hover {
  background-color: #00ff2610;
}

.name-container {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}

.photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
}

.no-photo {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tags-container {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

.tag-chip {
  background: none;
  border-radius: 6px;
  font-size: 12px;
  font-weight: 500;
  padding: 4px 12px;
  border: 1px solid #03c988;
  color: #03c988;
}

.contact-list-cell {
  flex: 4;
  justify-content: flex-start;
}